In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

['anime.csv', '.DS_Store', 'rating.csv']

In [5]:
df_anime = pd.read_csv('../input/anime.csv')
df_anime.shape

(12294, 7)

In [6]:
df_anime.head()

   anime_id                              name   ...   rating members
0     32281                    Kimi no Na wa.   ...     9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood   ...     9.26  793665
2     28977                          Gintama°   ...     9.25  114262
3      9253                       Steins;Gate   ...     9.17  673572
4      9969                     Gintama&#039;   ...     9.16  151266

[5 rows x 7 columns]

In [7]:
df_rating = pd.read_csv('../input/rating.csv')
df_rating.shape

(7813737, 3)

In [8]:
df_rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1